version: '3.8'

services: 
    postgres:
        image: postgres:15-alpine
        container_name: postgres_db
        environment:
            POSTGRES_USER: testuser
            POSTGRES_PASSWORD: testpass
            POSTGRES_DB: testdb
        ports: 
            - "5433:5432"
        volumes: 
            - postgres_data:/var/lib/postgresql/postgres_data
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U testuser -d testdb"]
            interval: 5s
            timeout: 5s
            retries: 5
    
    redis: 
        image: redis:7-alpine
        container_name: redis_cache
        ports:
            - "6379:6379"
        healthcheck:
            test: ["CMD", "redis-cli", "ping"]
            interval: 5s
            timeout: 5s
            retries: 5


volumes:
    postgres_data: